*.o
.deps
.dirstamp
/conserver-*.tar.xz

/aclocal.m4
/autologin/autologin
/autom4te.cache/
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/test-driver
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/conserver/conserver
/conserver/conserver.convert
/console/console
/contrib/chat/chat
/Makefile
/Makefile.in
/stamp-h1
/test/dotest.log
/test/dotest.trs
/test-suite.log
