*.[ch]~

Makefile
!contrib/solaris-package/Makefile
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure

*.o
/conserver.cf/conserver.cf.man
/conserver.cf/conserver.passwd.man
/conserver/conserver
/conserver/conserver.man
/conserver/conserver.rc
/conserver/convert
/console/console
/console/console.man
