*.o
.deps
.dirstamp
/conserver-*.tar.xz

/aclocal.m4
/autologin/autologin
/autologin/autologin.8
/autom4te.cache/
/build-aux/compile
/build-aux/config.guess
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/test-driver
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/conserver.cf/conserver.cf.5
/conserver.cf/conserver.passwd.5
/conserver/conserver
/conserver/conserver.8
/conserver/conserver.convert
/console/console
/console/console.1
/contrib/chat/chat
/contrib/chat/chat.8
/Makefile
/Makefile.in
/stamp-h1
/test/dotest.log
/test/dotest.trs
/test-suite.log
