#!/bin/sh
#
# Startup for conserver
#

PATH=/usr/bin:/usr/local/bin

case "$1" in
	'start')
		echo "Starting console server daemon"
		conserver -d
		;;

	'stop')
		master=`ps -ef | grep conserver | awk '$3 == "1"{print $2}'`
		[ "$master" ] && kill -TERM $master
		;;

	*)
		echo "Usage: $0 { start | stop }"
		;;

esac
exit 0
